# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

**/node_modules
packages/hardhat/artifacts*
packages/hardhat/deployments
packages/hardhat/cache*
packages/hardhat/types

# dependencies
/node_modules

# testing
coverage

# production
build

# misc
.DS_Store
.env*

# config
.yarnrc

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea